In [1]:
import pandas as pd

In [2]:
# Open csv file
data = pd.read_csv('../data/h1b_kaggle.csv')

In [3]:
# Print columns
data.columns

Index(['Unnamed: 0', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat'],
      dtype='object')

In [9]:
# Get list of employers sorted by name
emp = data['EMPLOYER_NAME'].dropna().sort_values().unique()

In [49]:
# Filter data for each of the top 10 employers
cog = data[data['EMPLOYER_NAME'] == 'COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION'].dropna()
ernst = data[data['EMPLOYER_NAME'] == 'ERNST & YOUNG U.S LLP'].dropna()
hcl = data[data['EMPLOYER_NAME'] == 'HCL AMERICA, INC.'].dropna()
mic = data[data['EMPLOYER_NAME'] == 'MICROSOFT CORPORATION'].dropna()
acc = data[data['EMPLOYER_NAME'] == 'ACCENTURE LLP'].dropna()
ibm = data[data['EMPLOYER_NAME'] == 'IBM INDIA PRIVATE LIMITED'].dropna()
delo = data[data['EMPLOYER_NAME'] == 'DELIOTTE CONSULTING LLP'].dropna()
wip = data[data['EMPLOYER_NAME'] == 'WIPRO LIMITED'].dropna()
tata = data[data['EMPLOYER_NAME'] == 'TATA CONSULTANCY SERVICES LIMITED'].dropna()
info = data[data['EMPLOYER_NAME'] == 'INFOSYS LIMITED'].dropna()

In [50]:
# Filter out duplate coordinates and save to csv file
out = cog.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/cog_coords.csv')

out = ernst.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/ernst_coords.csv')

out = hcl.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/hcl_coords.csv')

out = mic.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/mic_coords.csv')

out = acc.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/acc_coords.csv')

out = ibm.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/ibm_coords.csv')

out = delo.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/delo_coords.csv')

out = wip.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/wip_coords.csv')

out = tata.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/tata_coords.csv')

out = info.loc[:, 'lon':'lat'].drop_duplicates(subset=['lon', 'lat'])
out.to_csv('../data/info_coords.csv')